/* --- COLORS ---
#E05017 - orange
#FBB040 - yellowish-orange
#484848 - slate
*/


/* --- BASIC ELEMENTS --- */
html,
body {
  height: 100%;
}

body {
  font-family: 'Rokkitt', serif;
  font-size: 22px;
  color: #E05017;
}

a {
  text-decoration: none;
  color: #FBB040;
}

p {
  padding-bottom: 1em;
  line-height: 1.3;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
}

h4 {
  font-weight: bold;
}


/* --- UTILITY CLASSES --- */

.st-width {
  width: 940px;
  margin: 0 auto;
}

/* --- LAYOUT --- */

header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 120px;
  width: 100%;
  background-color: #FFF;
  transition: min-height 0.3s;
  -moz-transition: min-height 0.3s;
  -webkit-transition: min-height 0.3s;
  box-shadow: 0px 1px 1px #bbb;
  -moz-box-shadow: 0px 1px 1px #bbb;
  -webkit-box-shadow: 0 1px 1px #bbb;
}
.splash header {
  min-height: 100%;
  position: relative;
  border-top: #FBB040 5px solid;
}
header .st-width {
  min-height: 100%;
  position: static;
  /* transition: height 0.3s; */
}
header h1 {
  float: left;
  /* -webkit-transform: translateY(-600px); */
  width: 220px;
  min-height: 100%;
  bottom: 20px;
  position: absolute;
  /* transition: -webkit-transform 0.3s; */
}
header h1 svg {
  position: absolute;
  bottom: 0;
}
header nav {
  position: absolute;
  bottom: 20px;
  margin-left: 620px;
}

header nav a {
  font-size: 22px;
  color: #E05017;
  display: inline-block;
  margin-left: 15px;
}

section {
  background-color: #484848;
  padding-top: 60px;
  position: relative;
  font-size: 32px;
}

section#about { z-index: 91; }
section#photos { z-index: 92; }
section#register { z-index: 93; }
footer { position: relative; z-index: 95 }

section .st-width {
  padding-top: 150px;
  background: url(../images/arrow_rule_dark.png) no-repeat center top;
}
section#about .st-width {
  padding-top: 0;
  background-image: none;
  width: 560px;
  text-align: justify;
  text-transform: uppercase;
}
section#sponsors .st-width {
  background-image: url(../images/arrow_rule_light.png);
  overflow: auto;
  padding-bottom: 70px;
}

section#about {
  margin-top: 120px;
}
.splash section#about {
  margin-top: 0;
}

section#photos {
  overflow: auto;
}
section#photos ul li {
  float: left;
  width: 300px;
  height: 300px;
  margin: 0 20px 20px 0;
  overflow: hidden;
}
section#photos ul li:nth-child(3n) {
  margin-right: 0;
}
section#photos ul li img {
  display: block;
  width: 300px;
}
section#photos ul li a img {
  transition: width 0.2s, margin 0.2s;
  -moz-transition: width 0.2s, margin 0.2s;
  -webkit-transition: width 0.2s, margin 0.2s;
}
section#photos ul li a:hover img {
  width: 306px;
  margin-top: -3px;
  margin-left: -3px;
}

section#sponsors {
  color: #636262;
  background-color: #FFF;
}
#sponsors ul li {
  float: left;
  width: 140px;
  margin-right: 20px;
  background-color: #FFF;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sponsors ul li.last {
  margin-right: 0;
}
#sponsors ul li p,
#sponsors ul li h4 {
  margin: 10px;
}

section#register {

}

input.invalid,
select.invalid {
  border: red 2px solid;
}

section#location {
  height: 100%;
  background: none;
}
.map-wrap {
  height: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#map {
  height: 100%;
}
.map-wrap address {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: #fff;
  padding:20px;
  color: #484848;
  opacity: 0.9;
}
.map-wrap address span {
  display: block;
}
.map-wrap address span:nth-child(1) {
  font-size: 45px;
}
.map-wrap address span:nth-child(2) {
  font-size: 20px;
}
.map-wrap address span:nth-child(3) {
  font-size: 34px;
}

footer {
  background-color: #E05017;
  padding: 35px 0;
}
footer a {
  display: block;
  text-align: center;
  clear: both;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
}
footer .social-links {
  margin: 0 auto 15px;
  width: 240px;
  overflow: auto;
}
footer .social-links li {
  float: left;
  margin: 0 10px;
}
footer .social-links li a {
  width: 60px;
  height: 60px;
  background: url(../images/social_icons.png) no-repeat 0 0;
  overflow: hidden;
  text-indent: 100%;
}

