/* --- COLORS ---
#EC4B1B - orange
#F9A132 - yellowish-orange
#38383A - slate
#F2F2F2 - light grey
*/


/* --- BASIC ELEMENTS --- */
html,
body {
  height: 100%;
}

body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #F9A132;
}


/* --- UTILITY CLASSES --- */

.st-width {
  width: 960px;
  margin: 0 auto;
}


/* --- LAYOUT --- */

header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
  background-color: #F2F2F2;
}
header h1 {
  float: left;
  margin-top: 10px;
  height: 40px;
  width: 100px;
}
header h1 svg {
  width: 100px;
  height: 160px;
  top: -125px;
  position: relative;
}
header nav {
  float: right;
  margin-top: 30px;
}
header nav a {
  font-size: 18px;
  color: #EC4B1B;
  display: inline-block;
  margin-left: 1em;
}

section {
  background-color: #38383A;
  padding-top: 3em;
  position: relative;
}
section#about { z-index: 91; }
section#info { z-index: 92; }
section#register { z-index: 93; }
footer { position: relative; z-index: 95 }
section .st-width {
  padding-top: 7em;
  background: url(../images/seperator_slate.png) no-repeat center top;
}
section#about .st-width {
  padding-top: 0;
  background-image: none;
}
section#sponsors .st-width {
  background-image: url(../images/seperator_light_grey.png);
}

section#about {
  margin-top: 60px;
}

section#sponsors {
  background-color: #ACAEB0;
}

section#location {
  height: 100%;
  background: none;
}
.map-wrap {
  height: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#map {
  height: 100%;
}

footer {
  background-color: #EC4B1B;
}
